<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            /*background-image: url(https://www.freeimageslive.co.uk/image/view/11913/_original);*/
            background-image: url(https://i.ibb.co/3y0VtpD/fon.jpg);
            background-attachment: fixed;
            background-size: cover;
        }

        table {
            background-color: #333334;
            font-size: 18px;
            text-align: center;
            opacity: 0.8;
            width: 100%;
            font-family: 'PT Sans Caption', sans-serif;
            color: #EEF4D5;
        }

        tr {
            height: 40px;
        }

        td {
            max-width: 15%;
        }

        form {
            margin: auto;
            align-content: center;
            background-color: #333334;
            opacity: 0.8;
            width: 30%;
            border-radius: 15px;
        }

        .simple {
            margin-left: 0;
            align-content: center;
            background-color: unset;
            opacity: 1;
            width: auto;
            border-radius: 0;
        }

        h3 {
            padding-top: 15px;
            text-align: center;
            font-family: 'PT Sans Caption', sans-serif;
            color: #EEF4D5;
        }

        label {
            font-size: 18px;
            margin: auto;
            align-content: center;
            font-family: 'PT Sans Caption', sans-serif;
            color: #EEF4D5;
        }

        input[type=text], select {
            margin: auto;
            width: 50%;
        }

        input[type=checkbox], select {
            margin: auto;
            width: 15px;
            height: 15px;
        }

        input[type=number], select {
            margin: auto;
            width: 50%;
        }

        

        .menu-main {
            margin: auto;
            margin-top: 0;
            list-style: none;
            padding-left: 0;
            font-size: 18px;
            text-align: center;
            position: relative;
            background-color: #333334;
            opacity: 0.8;
            width: 100%;
        }

            .menu-main li {
                display: inline-block;
            }

            .menu-main a {
                text-decoration: none;
                display: inline-block;
                margin: 0 15px;
                padding: 10px 30px;
                font-family: 'PT Sans Caption', sans-serif;
                color: #EEF4D5;
                transition: .3s linear;
                position: relative;
            }

                .menu-main a:before,
                .menu-main a:after {
                    content: "";
                    position: absolute;
                    top: calc(50% - 3px);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #ECA815;
                    opacity: 0;
                    transition: .5s ease-in-out;
                }

                .menu-main a:before {
                    left: 5px;
                }

                .menu-main a:after {
                    right: 5px;
                }

                .menu-main a.current:before,
                .menu-main a.current:after,
                .menu-main a:hover:before,
                .menu-main a:hover:after {
                    opacity: 1;
                }

                .menu-main a.current,
                .menu-main a:hover {
                    color: #ECA815;
                }
    </style>
</head>
<body>
    <ul class="menu-main">
        <li>@Html.ActionLink("Catalog", "GetAll", "Products")</li>        
        <li>@Html.ActionLink("Orders", "GetAll", "Orders")</li>
        <li>@Html.ActionLink("Random", "ChooseAmount", "Orders")</li>
        <li>@Html.ActionLink("File", "ChooseFile", "Orders")</li>
        <li>@Html.ActionLink("Runtime Counter", "ChooseCounter", "Orders")</li>
    </ul>
        @RenderBody()
    <br>
</body>
</html>
